<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"></meta>
  <meta name="description" content=""></meta>
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/assets/web/assets/mobirise-icons/mobirise-icons.css}"></link>
  <link rel="shortcut icon" th:href="@{/assets/images/cristianoescudo01-960x875.png}" type="image/x-icon"></link>
  <link rel="stylesheet" th:href="@{/assets/tether/tether.min.css}"></link>
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}"></link>
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}"></link>
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}"></link>
  <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}"></link>
  <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}"></link>
  <link rel="stylesheet" th:href="@{/assets/animatecss/animate.min.css}"></link>
  <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}"></link>
  <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css"></link>
  
  
  
</head>
<body>
  <section class="menu cid-qLPUWD3E25" once="menu" id="menu1-2a">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="https://mobirise.com">CRISTIANO &nbsp;TORRRES</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" th:href="@{http://localhost:8080/manager-artifact-0.0.1-SNAPSHOT/home/principal}">Home</a>
                </li>
                   <li class="nav-item">
                      <a class="nav-link link text-white display-4" th:href="@{http://localhost:8080/manager-artifact-0.0.1-SNAPSHOT/home/biografia}">Biografia</a></li>
                      <li class="nav-item">
                      <a class="nav-link link text-white display-4" th:href="@{http://localhost:8080/manager-artifact-0.0.1-SNAPSHOT/home/biografia}">Galeria</a></li>
                      <li class="nav-item"><a class="nav-link link text-white display-4" th:href="@{http://localhost:8080/manager-artifact-0.0.1-SNAPSHOT/home/blog}">Fala,Professor</a></li>
                      <li class="nav-item"><a class="nav-link link text-white display-4" th:href="@{http://localhost:8080/manager-artifact-0.0.1-SNAPSHOT/home/blog}">Blog</a></li>
                      <li class="nav-item"><a class="nav-link link text-white display-4" th:href="@{http://localhost:8080/manager-artifact-0.0.1-SNAPSHOT/home/contato}">Contato</a></li></ul>
            
        </div>
    </nav>
</section>

<section class="engine"><a href="">free html web builder</a></section><section class="header13 cid-qMS7E2cYX7 mbr-fullscreen" id="header13-3i">

    

    

    <div class="container">
        

        

        

        <div class="container mt-5 pt-5 pb-5">
            <div class="media-container-column" data-form-type="formoid">
                <div data-form-alert="" hidden="">Thanks for filling out the form!</div>

                <form class="form-inline" action="" method="post" data-form-title="Mobirise Form">
                    <input type="hidden" value="KAv16wsRfxxLEFg+NndD9c7J6yDdUOag1yl+P1sHEwZdAZ3PQm4PYfvB+gUGtzY1P+NRBg9507dMx5ZjkNo/Op7fKdIvdbhlFtQOdmMsorDLxPfwcY3rY0J8EpaD1/yE" data-form-email="true"></input>
                    <div class="form-group">
                        <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" placeholder="Name" id="name-header13-3i"></input>
                    </div>
                    <div class="form-group">
                        
                    </div>
                    <div class="form-group">
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="mbr-section form3 cid-qMS9VXsSZP" id="form3-3j">

    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">EMAIL</h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">Inscreva-se pelo Email</h3>
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                </div>
                
                /*Existe um form aqui para envio de dados autor: Webster Alan  */
                
                
                <form class="mbr-form" action="" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="29+DqInw5us4FbjkF148wrS3il/AmpiF0sB33XNwGB4E1JVsft8fRaEBCGTsNpsJbFsm65cizhcwt7VGh9GjLOZ9YwMJm5OcDYMWrgW7r4edt+csGNh1DmKZdPP+nD57" data-form-field="Email"></input>
                    <div class="mbr-subscribe input-group">
                        <input class="form-control" type="email" name="email" placeholder="Email" data-form-field="Email" required="" id="email-form3-3j"></input>
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-primary display-4">INSCREVA-SE</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="cid-qLQRGPFTKA" id="footer1-2g">

    

    

    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="">
                        <img src="assets/images/cristianoescudo01-960x875.png" alt="Mobirise" title=""></img>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3"></h5>
                <p class="mbr-text"></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3"></h5>
                <p class="mbr-text"><br></br><br></br><br></br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">
                    <a class="text-primary" href="">Website builder</a>
                    <br></br><a class="text-primary" href="">Download for Windows</a>
                    <br></br><a class="text-primary" href="">Download for Mac</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr></hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 - Todos os Direitos Reservados
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script th:src="@{/assets/web/assets/jquery/jquery.min.js}"></script>
  <script th:src="@{/assets/popper/popper.min.js}"></script>
  <script th:src="@{/assets/tether/tether.min.js}"></script>
  <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
  <script th:src="@{/assets/dropdown/js/script.min.js}"></script>
  <script th:src="@{/assets/viewportchecker/jquery.viewportchecker.js}"></script>
  <script th:src="@{/assets/playervimeo/vimeo_player.js}"></script>
  <script th:src="@{/assets/touchswipe/jquery.touch-swipe.min.js}"></script>
  <script th:src="@{/assets/theme/js/script.js}"></script>
  <script th:src="@{/assets/formoid/formoid.min.js}"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden"></input>
  </body>
</html>